html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-color: #d6d6d6;  
    font-family: 'Open Sans', sans-serif;
}

.main,
#prodavnica{
    padding-bottom: 120px;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0.3;
    z-index: -100;
}
  
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

/****************POCETNA STRANA****************/
#cover {
    background-color: #666;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("../admin/img/cover.jpg");
    background-attachment: scroll, scroll, fixed;
    background-position: top left, top, center center;
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: auto, auto, cover;
    color: #fff;
    height: 400px;
    text-align: center;
}

#banner {
    color: #fff;
    height: 100px;
    width: 400px;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner h1 {
    margin-bottom: 15px;
}

#banner p {
    margin-bottom: 40px;
}

#content {
    padding-top: 30px;
}
  
/****************INFORMACIJE I PROMOCIJE****************/
.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.equal-cols:before,
.row.equal-cols:after {
    display: block;
}

.row.equal-cols>[class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row.equal-cols>[class*='col-']>* {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

#onamaSlika {
    width: 100%;
    height: auto;
}

/****************CRVENA TRAKA****************/
#brojevi {
    background-color: rgb(163, 9, 9);
    margin-bottom: -40px;
}
  
#brojevi div {
    padding-top: 15px;
    padding-bottom: 5px;
    color: #fff;
}

/****************KONTAKT****************/
form {
    padding-bottom: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

iframe {
    border: 0;
    width: 100%;
    height: 410px;
    padding-bottom: 60px;
}

#forma{
    padding-bottom: 100px;
}

#rezIme,
#rezEmail,
#rezAdresa,
#rezTelefon1,
#rezPoruka{
    color:red;
}

/****************GALERIJA****************/
.galerija {
    padding: 0px 50px 100px 50px;
}

.carousel-inner>.carousel-item>img {
    width: auto;
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

/****************PRODAVNICA****************/
.card {
    height: auto;
    width: 200px;
    overflow: hidden;
    margin: 10px;
}

.proizvodSlika img{
    height: 400px;
    width: auto;
    text-align: center;
}

.nijedostupno{
    color: red;
}

/****************PROIZVOD****************/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#myImg:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.959);
}
  
.modal-content {
    margin: auto;
    display: block;
    height: 70vh;
    max-width: 700px;
    width: auto;
}
  
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    height: 100px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 90px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
@media only screen and (max-width: 700px){
    .modal-content {
        width: auto;
        max-width:100%;
        height: 70vh;
    }
}

/****************KORPA****************/
#formaKorpa{
    padding-bottom: 0px;
}
#formaKorpa .form-group{
    margin-bottom: 0px;
}

/****************TABELA****************/
#tabela img{
    height: 60px;
    width: auto;
}

.opistabela{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

/****************LOGIN****************/
#formaadmin{
    max-width: 400px;
}

/****************FOOTER****************/
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgba(255,255,255,.5);
    background-color: #212529;
    padding: 10px 0px;
    height: 80px;
}